.start {
    -fx-background-color: yellow;
}
.success {
    -fx-background-color: lawngreen;
}
.error {
    -fx-background-color: red;
}
.failure {
    -fx-background-color: gray;
}
.table-view .column-header .label{
    -fx-alignment:CENTER_LEFT
}